body {
  background-color: #000;
  color: #ddd;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.75em;
}

#root {
  margin: 0 auto;
  width: 750px;
}

.rows {
  display: flex;
  flex-direction: row;
}

.columns {
  display: flex;
  flex-direction: column;
}

.stretch-children {
  & > * {
    flex: 1;
  }
}

.container {
  border: 0.02em solid #666;
  background-color: #222;
  margin: 0.2em;
}

input[type="number"] {
  width: 2em;
  background-color: #444;
  color: #ddd;
  border: none;
  padding: 0.4em;
  font-size: 0.75em;
}

.tra {
  @extend .rows;
  @extend .container;
  @extend .stretch-children;
  padding: 0.2em;
  font-size: 0.75em;

  & > div {
    margin: 0.2em;
    & > input {
      width: 5em;
    }
  }
}

.seq {
  @extend .rows;
  @extend .container;
  @extend .stretch-children;
}

.pattern-scope {
  @extend .columns;
  @extend .container;
  @extend .stretch-children;

  & > .channel {
    font-size: 0.4em;
    @extend .rows;
    @extend .stretch-children;

    & > .slot {
      height: 49px;
      border-top: 1px solid #00d;
      position: relative;
      text-align: center;
    }
  }
}

.step {
  @extend .columns;
  margin: 0.1em;

  .num {
    font-size: 0.8em;
    font-family: monospace;
    text-align: center;
  }
}

.step-control {
  @extend .columns;
  margin: 0.1em 0.05em;
  border: 0.02em solid #444;
  border-radius: 0.08em;
  background-color: #000;
}

.knob {
  height: 1.1em;
  margin: 0.3em auto;
  text-align: center;
  font-size: 0.8em;
  font-family: monospace;
  padding: 0.02em;

  &.disabled {
    color: #666;
  }
}

.switch {
  margin: 0 auto;
  .slider {
    position: absolute;
    border-radius: 0.2em;
    width: 0.4em;
    height: 0.45em;
    margin: 0.05em;

    background-color: rgba(0,255,0,0.25);
    margin-left: 0.45em;
    &.M {
      background-color: rgba(255,0,0,0.5);
      margin-left: 0.05em;
    }
    &.H {
      background-color: rgba(0,0,255,0.5);
      margin-left: 0.85em;
    }
  }

  .positions {
    @extend .rows;
    border-radius: 0.08em;
    padding: 0.05em;

    .position {
      font-size: 0.4em;
      width: 1em;
      text-align: center;
      cursor: pointer;
    }
  }
}

.led {
  // width: 1.15em;
  width: 0.25em;
  height: 0.25em;
  margin: 0.25em auto;

  border-radius: 0.125em;
  background-color: #D00;
  box-shadow: 0 0 0.02em 0.02em #D00;

  &.on {
    background-color: #0D0;
    box-shadow: 0 0 0.02em 0.02em #0D0;
  }
}
